* {
    margin: 0;
    padding: 0; }
  
  html body {
    height: 100%;
    width: 100%; }
  
  ul {
    list-style-type: none; }
  
  ol {
    list-style-type: none; }
  
  p {
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 0; }
  
  h1, h3 {
    font-family: "Ubuntu", sans-serif; }
